<font color = red size = 5>立此为证</font>

             语文	数学	Python  
        
张三	期中	  50   132	 10  


      期末   117	 22	   9  

李四	期中	  76   113	 50  
 
     期末	    8	23	  19  

活齐  期中	   2  86    70  

      期末    148  50  141

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
df = DataFrame(np.random.randint(0,150,size=(6,3)),columns=['数学','语文','python'],
              index=pd.MultiIndex.from_product([['张三','李四','王五'],['期中','期末']]))
df

        数学   语文  python
张三 期中   73  121     141
   期末   29  106      33
李四 期中   27   33      22
   期末  115  123      50
王五 期中  108   12     145
   期末  133   89      56

In [3]:
df['张三':'王五']

        数学   语文  python
张三 期中   73  121     141
   期末   29  106      33
李四 期中   27   33      22
   期末  115  123      50
王五 期中  108   12     145
   期末  133   89      56

In [4]:
df.loc['张三':'王五']

        数学   语文  python
张三 期中   73  121     141
   期末   29  106      33
李四 期中   27   33      22
   期末  115  123      50
王五 期中  108   12     145
   期末  133   89      56

In [5]:
df['张三':'活齐']

        数学   语文  python
张三 期中   73  121     141
   期末   29  106      33
李四 期中   27   33      22
   期末  115  123      50

In [6]:
# 代码没问题， 但是切片的时候出问题了， 说明pandas对一些汉字，不支持
df.loc['张三':'S']

Empty DataFrame
Columns: [数学, 语文, python]
Index: []

# pandas数据处理

## 1、删除重复元素

使用duplicated()函数检测重复的行，返回元素为布尔类型的Series对象，每个元素对应一行，如果该行不是第一次出现，则元素为True

In [7]:
df = DataFrame(np.random.randint(0,5,size=(100,3)),columns=['R','G','B'])
df
# 检查重复元素

    R  G  B
0   1  4  1
1   1  1  1
2   0  0  3
3   3  0  1
4   1  2  4
5   1  4  4
6   3  2  4
7   4  3  4
8   0  2  2
9   1  4  3
10  0  2  0
11  3  3  0
12  1  2  0
13  3  2  3
14  1  3  0
15  0  4  0
16  1  4  0
17  3  1  2
18  2  0  2
19  1  4  1
20  2  1  3
21  1  3  4
22  0  3  4
23  0  1  2
24  0  0  1
25  1  2  1
26  2  1  3
27  4  1  0
28  2  0  4
29  0  2  1
.. .. .. ..
70  4  0  4
71  1  4  3
72  3  4  4
73  1  2  2
74  2  2  2
75  2  4  3
76  3  3  3
77  0  1  2
78  2  0  3
79  3  2  1
80  1  2  1
81  4  2  0
82  3  4  3
83  3  1  2
84  1  2  1
85  2  4  3
86  1  3  4
87  3  1  1
88  1  4  2
89  4  4  1
90  2  1  3
91  0  0  0
92  1  3  0
93  4  1  3
94  2  1  1
95  0  1  1
96  0  4  3
97  2  3  3
98  2  0  2
99  0  1  4

[100 rows x 3 columns]

In [8]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19     True
20    False
21    False
22    False
23    False
24    False
25    False
26     True
27    False
28    False
29    False
      ...
70     True
71     True
72     True
73    False
74    False
75    False
76     True
77     True
78    False
79    False
80     True
81    False
82    False
83     True
84     True
85     True
86     True
87    False
88     True
89    False
90     True
91     True
92     True
93    False
94    False
95    False
96     True
97    False
98     True
99    False
Length: 100, dtype: bool

使用drop_duplicates()函数删除重复的行

In [9]:
df.drop_duplicates()

    R  G  B
0   1  4  1
1   1  1  1
2   0  0  3
3   3  0  1
4   1  2  4
5   1  4  4
6   3  2  4
7   4  3  4
8   0  2  2
9   1  4  3
10  0  2  0
11  3  3  0
12  1  2  0
13  3  2  3
14  1  3  0
15  0  4  0
16  1  4  0
17  3  1  2
18  2  0  2
20  2  1  3
21  1  3  4
22  0  3  4
23  0  1  2
24  0  0  1
25  1  2  1
27  4  1  0
28  2  0  4
29  0  2  1
30  2  3  2
31  1  0  0
.. .. .. ..
49  4  0  1
50  1  0  4
51  3  3  4
52  3  3  1
53  2  2  4
55  0  2  3
57  4  2  1
58  2  3  1
59  0  0  2
60  4  0  4
61  4  1  4
62  0  3  1
63  4  2  3
64  4  4  0
66  0  0  0
67  3  1  0
73  1  2  2
74  2  2  2
75  2  4  3
78  2  0  3
79  3  2  1
81  4  2  0
82  3  4  3
87  3  1  1
89  4  4  1
93  4  1  3
94  2  1  1
95  0  1  1
97  2  3  3
99  0  1  4

[71 rows x 3 columns]

如果使用pd.concat([df1,df2],axis = 1)生成新的DataFrame，新的df中columns相同，使用duplicate()和drop_duplicates()都会出问题

## 2. 映射

映射的含义：创建一个映射关系列表，把values元素和一个特定的标签或者字符串绑定

需要使用字典：

`map = {
    'label1':'value1',
    'label2':'value2',
    ...
    }
`

包含三种操作：

- replace()函数：替换元素
- 最重要：map()函数：新建一列
- rename()函数：替换索引

### 1) replace()函数：替换元素

In [10]:
df.head()

   R  G  B
0  1  4  1
1  1  1  1
2  0  0  3
3  3  0  1
4  1  2  4

In [12]:
# m[1]

In [13]:
m = {0:'red',1:'green',2:'blue',3:'purple',4:'yellow',5:'cyan',6:'black',np.nan:100}
# replace 替换元素值
df.replace(m)

         R       G       B
0    green  yellow   green
1    green   green   green
2      red     red  purple
3   purple     red   green
4    green    blue  yellow
5    green  yellow  yellow
6   purple    blue  yellow
7   yellow  purple  yellow
8      red    blue    blue
9    green  yellow  purple
10     red    blue     red
11  purple  purple     red
12   green    blue     red
13  purple    blue  purple
14   green  purple     red
15     red  yellow     red
16   green  yellow     red
17  purple   green    blue
18    blue     red    blue
19   green  yellow   green
20    blue   green  purple
21   green  purple  yellow
22     red  purple  yellow
23     red   green    blue
24     red     red   green
25   green    blue   green
26    blue   green  purple
27  yellow   green     red
28    blue     red  yellow
29     red    blue   green
..     ...     ...     ...
70  yellow     red  yellow
71   green  yellow  purple
72  purple  yellow  yellow
73   green    blue    blue
74    blue    blue    blue
75    blue  yellow  purple
76  purple  purple  purple
77     red   green    blue
78    blue     red  purple
79  purple    blue   green
80   green    blue   green
81  yellow    blue     red
82  purple  yellow  purple
83  purple   green    blue
84   green    blue   green
85    blue  yellow  purple
86   green  purple  yellow
87  purple   green   green
88   green  yellow    blue
89  yellow  yellow   green
90    blue   green  purple
91     red     red     red
92   green  purple     red
93  yellow   green  purple
94    blue   green   green
95     red   green   green
96     red  yellow  purple
97    blue  purple  purple
98    blue     red    blue
99     red   green  yellow

[100 rows x 3 columns]

使用replace()函数，对values进行替换操作

首先定义一个字典

调用.replace()

replace还经常用来替换NaN元素

In [14]:
df2 = DataFrame(np.array([1,2,3,None]))
df2

      0
0     1
1     2
2     3
3  None

In [15]:
m = {np.nan:1024}
df2.replace(m)

      0
0     1
1     2
2     3
3  1024

In [16]:
df3 = DataFrame(np.array(['男','女','女','男','男','女','女','男','男','女','女','男','男','女','女','男']),columns=(['性别']))
df3

   性别
0   男
1   女
2   女
3   男
4   男
5   女
6   女
7   男
8   男
9   女
10  女
11  男
12  男
13  女
14  女
15  男

In [17]:
m = {'男':0,'女':1}
df3.replace(m)

    性别
0    0
1    1
2    1
3    0
4    0
5    1
6    1
7    0
8    0
9    1
10   1
11   0
12   0
13   1
14   1
15   0

============================================

练习19：

    假设张三李四的课表里有满分的情况，老师认为是作弊，把所有满分的情况（包括150,300分）都记0分，如何实现？

============================================

### 2) map()函数：新建一列

In [18]:
df4 = DataFrame(np.random.randint(0,150,size=(37,3)),columns=['python','java','php'])
df4

    python  java  php
0       31   135   14
1      102    84   13
2       17   124   90
3      108    74  123
4       60    54   19
5       58    34  124
6       15    97  133
7       91   126  110
8      103    44   95
9        2   148   44
10      76   111   18
11      38   144   57
12     119   139   10
13      90    30   15
14     149   131    4
15      68    67   52
16      19   141   73
17      88    46   76
18      72     0   24
19      80    50    7
20     130    91  110
21     143   142   42
22      73    35  120
23      14   106  114
24      35   113   17
25      63   141  148
26     121    13   86
27      46    27   74
28     114    82  119
29      43    65    4
30      35    93   84
31      87    79   12
32      45   129  102
33      36    23  125
34      65     1   86
35      97    93   64
36     116   148  141

In [19]:
# df4['python'].map() 37个数据，进行了什么操作：map(规则) , 
# lambda x 代表37个数据
df4['数学'] = df4['python'].map(lambda x:x+10)
df4

    python  java  php   数学
0       31   135   14   41
1      102    84   13  112
2       17   124   90   27
3      108    74  123  118
4       60    54   19   70
5       58    34  124   68
6       15    97  133   25
7       91   126  110  101
8      103    44   95  113
9        2   148   44   12
10      76   111   18   86
11      38   144   57   48
12     119   139   10  129
13      90    30   15  100
14     149   131    4  159
15      68    67   52   78
16      19   141   73   29
17      88    46   76   98
18      72     0   24   82
19      80    50    7   90
20     130    91  110  140
21     143   142   42  153
22      73    35  120   83
23      14   106  114   24
24      35   113   17   45
25      63   141  148   73
26     121    13   86  131
27      46    27   74   56
28     114    82  119  124
29      43    65    4   53
30      35    93   84   45
31      87    79   12   97
32      45   129  102   55
33      36    23  125   46
34      65     1   86   75
35      97    93   64  107
36     116   148  141  126

In [20]:
f = lambda x:x+10
type(f)

function

In [21]:
 df4.mean(axis=1)

0      55.25
1      77.75
2      64.50
3     105.75
4      50.75
5      71.00
6      67.50
7     107.00
8      88.75
9      51.50
10     72.75
11     71.75
12     99.25
13     58.75
14    110.75
15     66.25
16     65.50
17     77.00
18     44.50
19     56.75
20    117.75
21    120.00
22     77.75
23     64.50
24     52.50
25    106.25
26     87.75
27     50.75
28    109.75
29     41.25
30     64.25
31     68.75
32     82.75
33     57.50
34     56.75
35     90.25
36    132.75
dtype: float64

In [22]:
def convert(x):
    if x < 60:
        return '不及格'
    elif (x >= 60) & (x < 80):
        return '及格'
    elif (x >= 80) & (x < 100):
        return '中等'
    elif (x >= 100) & (x < 120):
        return '良好'
    else:
        return '优秀'

In [23]:
df4['level'] = df4.mean(axis=1).map(convert)
df4

    python  java  php   数学 level
0       31   135   14   41   不及格
1      102    84   13  112    及格
2       17   124   90   27    及格
3      108    74  123  118    良好
4       60    54   19   70   不及格
5       58    34  124   68    及格
6       15    97  133   25    及格
7       91   126  110  101    良好
8      103    44   95  113    中等
9        2   148   44   12   不及格
10      76   111   18   86    及格
11      38   144   57   48    及格
12     119   139   10  129    中等
13      90    30   15  100   不及格
14     149   131    4  159    良好
15      68    67   52   78    及格
16      19   141   73   29    及格
17      88    46   76   98    及格
18      72     0   24   82   不及格
19      80    50    7   90   不及格
20     130    91  110  140    良好
21     143   142   42  153    优秀
22      73    35  120   83    及格
23      14   106  114   24    及格
24      35   113   17   45   不及格
25      63   141  148   73    良好
26     121    13   86  131    中等
27      46    27   74   56   不及格
28     114    82  119  124    良好
29      43    65    4   53   不及格
30      35    93   84   45    及格
31      87    79   12   97    及格
32      45   129  102   55    中等
33      36    23  125   46   不及格
34      65     1   86   75   不及格
35      97    93   64  107    中等
36     116   148  141  126    优秀

In [24]:
df4['java'] = df4['php'].map(convert)
df4

    python java  php   数学 level
0       31  不及格   14   41   不及格
1      102  不及格   13  112    及格
2       17   中等   90   27    及格
3      108   优秀  123  118    良好
4       60  不及格   19   70   不及格
5       58   优秀  124   68    及格
6       15   优秀  133   25    及格
7       91   良好  110  101    良好
8      103   中等   95  113    中等
9        2  不及格   44   12   不及格
10      76  不及格   18   86    及格
11      38  不及格   57   48    及格
12     119  不及格   10  129    中等
13      90  不及格   15  100   不及格
14     149  不及格    4  159    良好
15      68  不及格   52   78    及格
16      19   及格   73   29    及格
17      88   及格   76   98    及格
18      72  不及格   24   82   不及格
19      80  不及格    7   90   不及格
20     130   良好  110  140    良好
21     143  不及格   42  153    优秀
22      73   优秀  120   83    及格
23      14   良好  114   24    及格
24      35  不及格   17   45   不及格
25      63   优秀  148   73    良好
26     121   中等   86  131    中等
27      46   及格   74   56   不及格
28     114   良好  119  124    良好
29      43  不及格    4   53   不及格
30      35   中等   84   45    及格
31      87  不及格   12   97    及格
32      45   良好  102   55    中等
33      36   优秀  125   46   不及格
34      65   中等   86   75   不及格
35      97   及格   64  107    中等
36     116   优秀  141  126    优秀

使用map()函数，由已有的列生成一个新列

适合处理某一单独的列。

仍然是新建一个字典

map()函数中可以使用lambda函数

transform()和map()类似

In [25]:
# df4['java'] = df4['数学'].tranform(convert)
# df4

使用map()函数新建一个新列

============================================

练习20：

    新增两列，分别为张三、李四的成绩状态，如果分数低于90，则为"failed"，如果分数高于120，则为"excellent"，其他则为"pass"
    
    【提示】使用函数作为map的参数

============================================

In [26]:
d = DataFrame(np.random.randint(0,100,size=(2,3)),columns=['py','ph','jv'],
              index=['张三','李四'])
d

    py  ph  jv
张三  69  96  67
李四   7  31  23

In [27]:
def s(x):
    if x > 75:
        return 'excellent'
    else:
        return 'bad'

In [28]:
d['py'] = d['ph'].map(s)
d

           py  ph  jv
张三  excellent  96  67
李四        bad  31  23

### 3) rename()函数：替换索引

In [29]:
df4.rename(axis=1,mapper={'python':'py','数学':'math'})

     py java  php  math level
0    31  不及格   14    41   不及格
1   102  不及格   13   112    及格
2    17   中等   90    27    及格
3   108   优秀  123   118    良好
4    60  不及格   19    70   不及格
5    58   优秀  124    68    及格
6    15   优秀  133    25    及格
7    91   良好  110   101    良好
8   103   中等   95   113    中等
9     2  不及格   44    12   不及格
10   76  不及格   18    86    及格
11   38  不及格   57    48    及格
12  119  不及格   10   129    中等
13   90  不及格   15   100   不及格
14  149  不及格    4   159    良好
15   68  不及格   52    78    及格
16   19   及格   73    29    及格
17   88   及格   76    98    及格
18   72  不及格   24    82   不及格
19   80  不及格    7    90   不及格
20  130   良好  110   140    良好
21  143  不及格   42   153    优秀
22   73   优秀  120    83    及格
23   14   良好  114    24    及格
24   35  不及格   17    45   不及格
25   63   优秀  148    73    良好
26  121   中等   86   131    中等
27   46   及格   74    56   不及格
28  114   良好  119   124    良好
29   43  不及格    4    53   不及格
30   35   中等   84    45    及格
31   87  不及格   12    97    及格
32   45   良好  102    55    中等
33   36   优秀  125    46   不及格
34   65   中等   86    75   不及格
35   97   及格   64   107    中等
36  116   优秀  141   126    优秀

In [30]:
df4.rename(axis=0,mapper={0:'a',1:'b',2:'c'})

    python java  php   数学 level
a       31  不及格   14   41   不及格
b      102  不及格   13  112    及格
c       17   中等   90   27    及格
3      108   优秀  123  118    良好
4       60  不及格   19   70   不及格
5       58   优秀  124   68    及格
6       15   优秀  133   25    及格
7       91   良好  110  101    良好
8      103   中等   95  113    中等
9        2  不及格   44   12   不及格
10      76  不及格   18   86    及格
11      38  不及格   57   48    及格
12     119  不及格   10  129    中等
13      90  不及格   15  100   不及格
14     149  不及格    4  159    良好
15      68  不及格   52   78    及格
16      19   及格   73   29    及格
17      88   及格   76   98    及格
18      72  不及格   24   82   不及格
19      80  不及格    7   90   不及格
20     130   良好  110  140    良好
21     143  不及格   42  153    优秀
22      73   优秀  120   83    及格
23      14   良好  114   24    及格
24      35  不及格   17   45   不及格
25      63   优秀  148   73    良好
26     121   中等   86  131    中等
27      46   及格   74   56   不及格
28     114   良好  119  124    良好
29      43  不及格    4   53   不及格
30      35   中等   84   45    及格
31      87  不及格   12   97    及格
32      45   良好  102   55    中等
33      36   优秀  125   46   不及格
34      65   中等   86   75   不及格
35      97   及格   64  107    中等
36     116   优秀  141  126    优秀

In [31]:
df4

    python java  php   数学 level
0       31  不及格   14   41   不及格
1      102  不及格   13  112    及格
2       17   中等   90   27    及格
3      108   优秀  123  118    良好
4       60  不及格   19   70   不及格
5       58   优秀  124   68    及格
6       15   优秀  133   25    及格
7       91   良好  110  101    良好
8      103   中等   95  113    中等
9        2  不及格   44   12   不及格
10      76  不及格   18   86    及格
11      38  不及格   57   48    及格
12     119  不及格   10  129    中等
13      90  不及格   15  100   不及格
14     149  不及格    4  159    良好
15      68  不及格   52   78    及格
16      19   及格   73   29    及格
17      88   及格   76   98    及格
18      72  不及格   24   82   不及格
19      80  不及格    7   90   不及格
20     130   良好  110  140    良好
21     143  不及格   42  153    优秀
22      73   优秀  120   83    及格
23      14   良好  114   24    及格
24      35  不及格   17   45   不及格
25      63   优秀  148   73    良好
26     121   中等   86  131    中等
27      46   及格   74   56   不及格
28     114   良好  119  124    良好
29      43  不及格    4   53   不及格
30      35   中等   84   45    及格
31      87  不及格   12   97    及格
32      45   良好  102   55    中等
33      36   优秀  125   46   不及格
34      65   中等   86   75   不及格
35      97   及格   64  107    中等
36     116   优秀  141  126    优秀

仍然是新建一个字典

使用rename()函数替换行索引

## 3. 异常值检测和过滤

使用describe()函数查看每一列的描述性统计量

In [32]:
df = DataFrame(np.random.randint(0,300,size=(100,3)),columns=['python','math','en'])
df

    python  math   en
0      178   264   48
1      265    56   37
2      267   117  258
3      117   253  185
4      233   169  277
5      147    50   52
6      286   111  125
7       49   227   93
8      132   112  260
9        0     9  152
10     143   242  282
11      61    59  200
12     240   234   40
13     112   173  123
14     212   239  245
15      94   127  286
16     273    31  132
17      21    97  251
18     267   228  295
19     146    58   85
20     153   253  135
21      16   257  155
22      57   214  211
23     213   290   30
24     212    31  120
25     166   217  285
26      65   192  169
27     195    36    4
28     235    88   41
29      65   154  130
..     ...   ...  ...
70     124   212  145
71      42   169   29
72     160   255  293
73     187   273  165
74     239   296  140
75     281   133   48
76      48   244  249
77     247    96  120
78     197    44  276
79      93   182  101
80      78    26  180
81     122   254   41
82     280    23  181
83     172   272  276
84     277   242    9
85     209    67  296
86      29   229  137
87     215   109  225
88     240    24  136
89     253   222  133
90      69   126    0
91     170   177  292
92     290   275  174
93      52   111  261
94     293   179   36
95     191   102  226
96     203   141   48
97     214   255   55
98     253   217  119
99     180   148  261

[100 rows x 3 columns]

In [33]:
df.describe()

           python        math          en
count  100.000000  100.000000  100.000000
mean   158.990000  156.320000  154.110000
std     88.545656   89.422036   86.872122
min      0.000000    1.000000    0.000000
25%     76.250000   89.750000   89.000000
50%    166.500000  163.000000  144.000000
75%    240.000000  235.250000  230.250000
max    299.000000  296.000000  296.000000

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
python    100 non-null int32
math      100 non-null int32
en        100 non-null int32
dtypes: int32(3)
memory usage: 1.2 KB

使用std()函数可以求得DataFrame对象每一列的标准差

In [35]:
# 每一个样本的标准方差，求解  代表数据离散程度，
df.std(axis=1).describe()

count    100.000000
mean      82.258753
std       31.039796
min       11.503623
25%       61.800272
50%       81.481405
75%      107.790671
max      145.681159
dtype: float64

In [36]:
# 方差小于等于50的样本选出来
cond = df.std(axis=1) <=50
cond

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13     True
14     True
15    False
16    False
17    False
18     True
19     True
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29     True
      ...
70     True
71    False
72    False
73    False
74    False
75    False
76    False
77    False
78    False
79     True
80    False
81    False
82    False
83    False
84    False
85    False
86    False
87    False
88    False
89    False
90    False
91    False
92    False
93    False
94    False
95    False
96    False
97    False
98    False
99    False
Length: 100, dtype: bool

In [37]:
df2 = df[cond]
df2.mean(axis=1).describe()

count     16.000000
mean     138.437500
std       72.309901
min       28.333333
25%       89.333333
50%      130.666667
75%      187.333333
max      263.333333
dtype: float64

In [38]:
cond = df2.mean(axis=1) >=230
cond

13    False
14     True
18     True
19    False
29    False
30    False
32    False
34    False
37     True
48    False
51    False
62    False
64    False
67    False
70    False
79    False
dtype: bool

In [39]:
# 筛选出来的数据方差小于50，平均值大于230 
df2[cond]

    python  math   en
14     212   239  245
18     267   228  295
37     244   274  191

根据每一列的标准差，对DataFrame元素进行过滤。

借助any()函数, 测试是否有True，有一个或以上返回True，反之返回False

对每一列应用筛选条件,去除标准差太大的数据

In [40]:
df3 = DataFrame({'身高':np.random.randint(160,198,size=100),'体重':np.random.randint(50,90,size=100)},
                columns=['身高','体重','性别'])
df3

     身高  体重   性别
0   190  83  NaN
1   167  59  NaN
2   163  54  NaN
3   184  73  NaN
4   191  68  NaN
5   171  67  NaN
6   182  61  NaN
7   162  60  NaN
8   189  57  NaN
9   177  85  NaN
10  161  62  NaN
11  162  57  NaN
12  183  62  NaN
13  181  77  NaN
14  194  72  NaN
15  174  89  NaN
16  182  64  NaN
17  167  74  NaN
18  195  85  NaN
19  164  89  NaN
20  160  65  NaN
21  177  75  NaN
22  180  77  NaN
23  185  71  NaN
24  166  87  NaN
25  190  72  NaN
26  193  83  NaN
27  170  55  NaN
28  169  57  NaN
29  161  68  NaN
..  ...  ..  ...
70  194  85  NaN
71  173  64  NaN
72  187  69  NaN
73  173  72  NaN
74  195  76  NaN
75  192  61  NaN
76  178  82  NaN
77  179  53  NaN
78  183  78  NaN
79  197  77  NaN
80  164  86  NaN
81  165  86  NaN
82  173  61  NaN
83  163  61  NaN
84  184  88  NaN
85  194  73  NaN
86  195  59  NaN
87  175  88  NaN
88  178  76  NaN
89  181  67  NaN
90  192  79  NaN
91  167  68  NaN
92  195  67  NaN
93  194  75  NaN
94  174  87  NaN
95  169  69  NaN
96  171  88  NaN
97  160  59  NaN
98  193  87  NaN
99  194  50  NaN

[100 rows x 3 columns]

In [41]:
def convert_(item):
    if item > 172:
        return '男'
    else:
        return '女'

In [42]:
df3['性别'] = df3['身高'].map(convert_)
df3

     身高  体重 性别
0   190  83  男
1   167  59  女
2   163  54  女
3   184  73  男
4   191  68  男
5   171  67  女
6   182  61  男
7   162  60  女
8   189  57  男
9   177  85  男
10  161  62  女
11  162  57  女
12  183  62  男
13  181  77  男
14  194  72  男
15  174  89  男
16  182  64  男
17  167  74  女
18  195  85  男
19  164  89  女
20  160  65  女
21  177  75  男
22  180  77  男
23  185  71  男
24  166  87  女
25  190  72  男
26  193  83  男
27  170  55  女
28  169  57  女
29  161  68  女
..  ...  .. ..
70  194  85  男
71  173  64  男
72  187  69  男
73  173  72  男
74  195  76  男
75  192  61  男
76  178  82  男
77  179  53  男
78  183  78  男
79  197  77  男
80  164  86  女
81  165  86  女
82  173  61  男
83  163  61  女
84  184  88  男
85  194  73  男
86  195  59  男
87  175  88  男
88  178  76  男
89  181  67  男
90  192  79  男
91  167  68  女
92  195  67  男
93  194  75  男
94  174  87  男
95  169  69  女
96  171  88  女
97  160  59  女
98  193  87  男
99  194  50  男

[100 rows x 3 columns]

In [43]:
import warnings

In [44]:
warnings.filterwarnings('ignore')

In [45]:
df3['身高'][55] = 280

df3['体重'][32] = 1800

df3['性别'][78] = '男女'

In [46]:
df3

     身高  体重  性别
0   190  83   男
1   167  59   女
2   163  54   女
3   184  73   男
4   191  68   男
5   171  67   女
6   182  61   男
7   162  60   女
8   189  57   男
9   177  85   男
10  161  62   女
11  162  57   女
12  183  62   男
13  181  77   男
14  194  72   男
15  174  89   男
16  182  64   男
17  167  74   女
18  195  85   男
19  164  89   女
20  160  65   女
21  177  75   男
22  180  77   男
23  185  71   男
24  166  87   女
25  190  72   男
26  193  83   男
27  170  55   女
28  169  57   女
29  161  68   女
..  ...  ..  ..
70  194  85   男
71  173  64   男
72  187  69   男
73  173  72   男
74  195  76   男
75  192  61   男
76  178  82   男
77  179  53   男
78  183  78  男女
79  197  77   男
80  164  86   女
81  165  86   女
82  173  61   男
83  163  61   女
84  184  88   男
85  194  73   男
86  195  59   男
87  175  88   男
88  178  76   男
89  181  67   男
90  192  79   男
91  167  68   女
92  195  67   男
93  194  75   男
94  174  87   男
95  169  69   女
96  171  88   女
97  160  59   女
98  193  87   男
99  194  50   男

[100 rows x 3 columns]

In [47]:
cond1 = df3['身高'] >= 220
cond1

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
      ...
70    False
71    False
72    False
73    False
74    False
75    False
76    False
77    False
78    False
79    False
80    False
81    False
82    False
83    False
84    False
85    False
86    False
87    False
88    False
89    False
90    False
91    False
92    False
93    False
94    False
95    False
96    False
97    False
98    False
99    False
Name: 身高, Length: 100, dtype: bool

In [48]:
cond2 = df3['体重'] >= 100
cond2

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
      ...
70    False
71    False
72    False
73    False
74    False
75    False
76    False
77    False
78    False
79    False
80    False
81    False
82    False
83    False
84    False
85    False
86    False
87    False
88    False
89    False
90    False
91    False
92    False
93    False
94    False
95    False
96    False
97    False
98    False
99    False
Name: 体重, Length: 100, dtype: bool

In [49]:
(df3['性别'] == '男')

0      True
1     False
2     False
3      True
4      True
5     False
6      True
7     False
8      True
9      True
10    False
11    False
12     True
13     True
14     True
15     True
16     True
17    False
18     True
19    False
20    False
21     True
22     True
23     True
24    False
25     True
26     True
27    False
28    False
29    False
      ...
70     True
71     True
72     True
73     True
74     True
75     True
76     True
77     True
78    False
79     True
80    False
81    False
82     True
83    False
84     True
85     True
86     True
87     True
88     True
89     True
90     True
91    False
92     True
93     True
94     True
95    False
96    False
97    False
98     True
99     True
Name: 性别, Length: 100, dtype: bool

In [50]:
(df3['性别'] == '女')

0     False
1      True
2      True
3     False
4     False
5      True
6     False
7      True
8     False
9     False
10     True
11     True
12    False
13    False
14    False
15    False
16    False
17     True
18    False
19     True
20     True
21    False
22    False
23    False
24     True
25    False
26    False
27     True
28     True
29     True
      ...
70    False
71    False
72    False
73    False
74    False
75    False
76    False
77    False
78    False
79    False
80     True
81     True
82    False
83     True
84    False
85    False
86    False
87    False
88    False
89    False
90    False
91     True
92    False
93    False
94    False
95     True
96     True
97     True
98    False
99    False
Name: 性别, Length: 100, dtype: bool

In [51]:
cond3 = np.logical_or((df3['性别'] == '男'),(df3['性别'] == '女'))
cond3

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20     True
21     True
22     True
23     True
24     True
25     True
26     True
27     True
28     True
29     True
      ...
70     True
71     True
72     True
73     True
74     True
75     True
76     True
77     True
78    False
79     True
80     True
81     True
82     True
83     True
84     True
85     True
86     True
87     True
88     True
89     True
90     True
91     True
92     True
93     True
94     True
95     True
96     True
97     True
98     True
99     True
Name: 性别, Length: 100, dtype: bool

In [52]:
# 亦或运算
np.logical_xor((df3['性别'] == '男'),(df3['性别'] == '女'))

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20     True
21     True
22     True
23     True
24     True
25     True
26     True
27     True
28     True
29     True
      ...
70     True
71     True
72     True
73     True
74     True
75     True
76     True
77     True
78    False
79     True
80     True
81     True
82     True
83     True
84     True
85     True
86     True
87     True
88     True
89     True
90     True
91     True
92     True
93     True
94     True
95     True
96     True
97     True
98     True
99     True
Name: 性别, Length: 100, dtype: bool

In [53]:
cond = np.logical_or(np.logical_or(cond1,cond2),cond3)
cond

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20     True
21     True
22     True
23     True
24     True
25     True
26     True
27     True
28     True
29     True
      ...
70     True
71     True
72     True
73     True
74     True
75     True
76     True
77     True
78    False
79     True
80     True
81     True
82     True
83     True
84     True
85     True
86     True
87     True
88     True
89     True
90     True
91     True
92     True
93     True
94     True
95     True
96     True
97     True
98     True
99     True
Name: 身高, Length: 100, dtype: bool

In [54]:
# 找到3个不满足条件的数据，需要将这三个数据从df3中删除 drop
df3[cond]

     身高  体重 性别
0   190  83  男
1   167  59  女
2   163  54  女
3   184  73  男
4   191  68  男
5   171  67  女
6   182  61  男
7   162  60  女
8   189  57  男
9   177  85  男
10  161  62  女
11  162  57  女
12  183  62  男
13  181  77  男
14  194  72  男
15  174  89  男
16  182  64  男
17  167  74  女
18  195  85  男
19  164  89  女
20  160  65  女
21  177  75  男
22  180  77  男
23  185  71  男
24  166  87  女
25  190  72  男
26  193  83  男
27  170  55  女
28  169  57  女
29  161  68  女
..  ...  .. ..
69  172  75  女
70  194  85  男
71  173  64  男
72  187  69  男
73  173  72  男
74  195  76  男
75  192  61  男
76  178  82  男
77  179  53  男
79  197  77  男
80  164  86  女
81  165  86  女
82  173  61  男
83  163  61  女
84  184  88  男
85  194  73  男
86  195  59  男
87  175  88  男
88  178  76  男
89  181  67  男
90  192  79  男
91  167  68  女
92  195  67  男
93  194  75  男
94  174  87  男
95  169  69  女
96  171  88  女
97  160  59  女
98  193  87  男
99  194  50  男

[99 rows x 3 columns]

In [55]:
df3.drop(labels=df3[cond].index,axis=0).shape

(1, 3)

删除特定索引df.drop(labels,inplace = True)

============================================

练习21：

    新建一个形状为10000*3的标准正态分布的DataFrame(np.random.randn)，去除掉所有满足以下情况的行：其中任一元素绝对值大于3倍标准差

============================================

## 4. 排序

使用.take()函数排序

可以借助np.random.permutation()函数随机排序

In [56]:
df3

     身高  体重  性别
0   190  83   男
1   167  59   女
2   163  54   女
3   184  73   男
4   191  68   男
5   171  67   女
6   182  61   男
7   162  60   女
8   189  57   男
9   177  85   男
10  161  62   女
11  162  57   女
12  183  62   男
13  181  77   男
14  194  72   男
15  174  89   男
16  182  64   男
17  167  74   女
18  195  85   男
19  164  89   女
20  160  65   女
21  177  75   男
22  180  77   男
23  185  71   男
24  166  87   女
25  190  72   男
26  193  83   男
27  170  55   女
28  169  57   女
29  161  68   女
..  ...  ..  ..
70  194  85   男
71  173  64   男
72  187  69   男
73  173  72   男
74  195  76   男
75  192  61   男
76  178  82   男
77  179  53   男
78  183  78  男女
79  197  77   男
80  164  86   女
81  165  86   女
82  173  61   男
83  163  61   女
84  184  88   男
85  194  73   男
86  195  59   男
87  175  88   男
88  178  76   男
89  181  67   男
90  192  79   男
91  167  68   女
92  195  67   男
93  194  75   男
94  174  87   男
95  169  69   女
96  171  88   女
97  160  59   女
98  193  87   男
99  194  50   男

[100 rows x 3 columns]

### 随机抽样

当DataFrame规模足够大时，直接使用np.random.randint()函数，就配合take()函数实现随机抽样

In [57]:
sample = np.random.choice(np.arange(100),size=10)

In [58]:
df3.take(sample)

     身高  体重 性别
68  194  88  男
2   163  54  女
2   163  54  女
24  166  87  女
88  178  76  男
36  192  83  男
44  183  52  男
17  167  74  女
14  194  72  男
9   177  85  男

In [59]:
index = np.arange(100)
index

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [60]:
# 顺序打乱
np.random.shuffle(index)
index

array([11, 74,  6, 27, 83, 88, 84,  1, 48, 20, 71, 77,  8, 73, 68, 18, 29,
       90, 81, 28, 45, 94, 92, 24, 66, 40,  0, 72, 39, 49, 96, 61, 31, 35,
       17, 87, 89, 38, 63, 57, 93, 13,  5, 55, 43, 12, 36, 80, 34, 67, 75,
       58, 95, 78, 30, 50, 98, 53,  7, 65, 32, 51, 37, 15, 22,  9, 56, 69,
       46, 41, 60, 44, 97, 62, 47, 59, 82, 99,  4, 70, 85, 23, 86, 64, 19,
       76, 21, 52, 14, 26, 33,  3, 54, 91, 25, 10,  2, 79, 16, 42])

In [61]:
# 打乱顺序
df3.take(index)

     身高  体重 性别
11  162  57  女
74  195  76  男
6   182  61  男
27  170  55  女
83  163  61  女
88  178  76  男
84  184  88  男
1   167  59  女
48  164  54  女
20  160  65  女
71  173  64  男
77  179  53  男
8   189  57  男
73  173  72  男
68  194  88  男
18  195  85  男
29  161  68  女
90  192  79  男
81  165  86  女
28  169  57  女
45  165  69  女
94  174  87  男
92  195  67  男
24  166  87  女
66  191  50  男
40  183  76  男
0   190  83  男
72  187  69  男
39  189  60  男
49  174  76  男
..  ...  .. ..
60  162  71  女
44  183  52  男
97  160  59  女
62  185  64  男
47  171  75  女
59  195  70  男
82  173  61  男
99  194  50  男
4   191  68  男
70  194  85  男
85  194  73  男
23  185  71  男
86  195  59  男
64  160  82  女
19  164  89  女
76  178  82  男
21  177  75  男
52  182  62  男
14  194  72  男
26  193  83  男
33  197  82  男
3   184  73  男
54  190  64  男
91  167  68  女
25  190  72  男
10  161  62  女
2   163  54  女
79  197  77  男
16  182  64  男
42  190  86  男

[100 rows x 3 columns]

In [62]:
df3.loc[index]

     身高  体重 性别
11  162  57  女
74  195  76  男
6   182  61  男
27  170  55  女
83  163  61  女
88  178  76  男
84  184  88  男
1   167  59  女
48  164  54  女
20  160  65  女
71  173  64  男
77  179  53  男
8   189  57  男
73  173  72  男
68  194  88  男
18  195  85  男
29  161  68  女
90  192  79  男
81  165  86  女
28  169  57  女
45  165  69  女
94  174  87  男
92  195  67  男
24  166  87  女
66  191  50  男
40  183  76  男
0   190  83  男
72  187  69  男
39  189  60  男
49  174  76  男
..  ...  .. ..
60  162  71  女
44  183  52  男
97  160  59  女
62  185  64  男
47  171  75  女
59  195  70  男
82  173  61  男
99  194  50  男
4   191  68  男
70  194  85  男
85  194  73  男
23  185  71  男
86  195  59  男
64  160  82  女
19  164  89  女
76  178  82  男
21  177  75  男
52  182  62  男
14  194  72  男
26  193  83  男
33  197  82  男
3   184  73  男
54  190  64  男
91  167  68  女
25  190  72  男
10  161  62  女
2   163  54  女
79  197  77  男
16  182  64  男
42  190  86  男

[100 rows x 3 columns]

============================================
练习22：

   假设有张三李四王老五的期中考试成绩ddd2，对着三名同学随机排序

============================================

## 5. 数据聚合【重点】

数据聚合是数据处理的最后一步，通常是要使每一个数组生成一个单一的数值。

数据分类处理：

 - 分组：先把数据分为几组
 - 用函数处理：为不同组的数据应用不同的函数以转换数据
 - 合并：把不同组得到的结果合并起来
 
数据分类处理的核心：
     groupby()函数

In [78]:
df = DataFrame({'item':np.random.randint(0,3,size=100),
                'sailer':np.random.randint(0,3,size=100),
                'price':np.random.randint(2,8,size=100),
               'weight':np.random.randint(30,50,size=100)})
df['item'] = df['item'].map({0:'白菜',1:'萝卜',2:'青椒'})

df

   item  sailer  price  weight
0    萝卜       2      4      43
1    青椒       1      3      38
2    青椒       0      5      39
3    萝卜       1      6      45
4    萝卜       1      4      47
5    青椒       1      7      33
6    萝卜       2      4      34
7    白菜       1      3      42
8    青椒       1      2      45
9    青椒       2      2      30
10   白菜       1      3      30
11   白菜       0      4      48
12   白菜       0      4      30
13   萝卜       1      4      40
14   白菜       2      3      41
15   白菜       2      4      37
16   白菜       2      4      38
17   白菜       0      3      36
18   白菜       0      6      48
19   白菜       1      6      36
20   白菜       0      6      43
21   萝卜       2      2      31
22   青椒       0      7      30
23   萝卜       1      7      43
24   萝卜       0      4      44
25   青椒       2      7      37
26   白菜       2      7      34
27   萝卜       2      3      40
28   萝卜       1      5      48
29   萝卜       1      2      41
..  ...     ...    ...     ...
70   青椒       2      3      48
71   白菜       1      7      47
72   青椒       0      3      34
73   白菜       1      7      32
74   白菜       2      4      40
75   白菜       2      4      35
76   青椒       2      2      40
77   青椒       1      2      30
78   白菜       2      4      47
79   白菜       2      6      45
80   青椒       1      3      36
81   白菜       2      7      37
82   白菜       1      5      36
83   萝卜       0      6      33
84   白菜       2      4      40
85   青椒       1      5      42
86   青椒       1      5      37
87   青椒       2      5      45
88   萝卜       0      5      47
89   青椒       0      2      42
90   萝卜       1      3      36
91   萝卜       2      6      41
92   萝卜       1      6      46
93   白菜       2      6      33
94   青椒       2      2      37
95   萝卜       2      4      33
96   萝卜       1      3      40
97   白菜       1      2      38
98   青椒       1      4      32
99   萝卜       0      7      38

[100 rows x 4 columns]

In [69]:
df2 = df.copy()

In [79]:
def convert(item):
    if item == 4 :
        return '张大妈'
#     transform 和 map的功能是相同的
# 不同点，map中可以放方法，也可以是字典，transform中只能放方法

In [73]:
df2['price'] = df2['price'].transform(convert)
df2

   item sailer price  weight
0    青椒    NaN  None      33
1    萝卜    NaN  None      33
2    白菜    NaN  None      44
3    白菜    NaN  None      49
4    白菜    NaN  None      48
5    萝卜    NaN  None      30
6    萝卜    NaN  None      39
7    萝卜    NaN  None      45
8    青椒    NaN  None      39
9    萝卜    NaN  None      41
10   白菜    NaN  None      36
11   萝卜    NaN  None      31
12   萝卜    NaN  None      36
13   白菜    NaN  None      33
14   白菜    NaN  None      36
15   青椒    NaN  None      37
16   萝卜    NaN  None      42
17   青椒    NaN  None      45
18   萝卜    NaN  None      30
19   青椒    NaN  None      46
20   萝卜    NaN  None      42
21   白菜    NaN  None      45
22   白菜    NaN  None      37
23   萝卜    NaN  None      45
24   白菜    NaN  None      44
25   萝卜    NaN  None      32
26   青椒    NaN  None      30
27   白菜    NaN  None      40
28   白菜    NaN  None      35
29   萝卜    NaN  None      43
..  ...    ...   ...     ...
70   萝卜    NaN  None      46
71   白菜    NaN  None      40
72   白菜    NaN  None      46
73   萝卜    NaN  None      39
74   白菜    NaN  None      43
75   萝卜    NaN  None      42
76   白菜    NaN  None      42
77   萝卜    NaN  None      35
78   萝卜    NaN  None      39
79   萝卜    NaN  None      47
80   萝卜    NaN  None      36
81   白菜    NaN  None      33
82   萝卜    NaN  None      49
83   青椒    NaN  None      41
84   萝卜    NaN  None      33
85   青椒    NaN  None      47
86   萝卜    NaN  None      41
87   萝卜    NaN  None      38
88   萝卜    NaN  None      47
89   白菜    NaN  None      44
90   白菜    NaN  None      39
91   白菜    NaN  None      45
92   青椒    NaN  None      47
93   萝卜    NaN  None      38
94   青椒    NaN  None      44
95   青椒    NaN  None      49
96   白菜    NaN  None      35
97   白菜    NaN  None      38
98   白菜    NaN  None      45
99   萝卜    NaN  None      43

[100 rows x 4 columns]

In [80]:
df['sailer'] = df['sailer'].map({0:'张大妈',1:'李大妈',2:'赵大叔'})

In [81]:
df

   item sailer  price  weight
0    萝卜    赵大叔      4      43
1    青椒    李大妈      3      38
2    青椒    张大妈      5      39
3    萝卜    李大妈      6      45
4    萝卜    李大妈      4      47
5    青椒    李大妈      7      33
6    萝卜    赵大叔      4      34
7    白菜    李大妈      3      42
8    青椒    李大妈      2      45
9    青椒    赵大叔      2      30
10   白菜    李大妈      3      30
11   白菜    张大妈      4      48
12   白菜    张大妈      4      30
13   萝卜    李大妈      4      40
14   白菜    赵大叔      3      41
15   白菜    赵大叔      4      37
16   白菜    赵大叔      4      38
17   白菜    张大妈      3      36
18   白菜    张大妈      6      48
19   白菜    李大妈      6      36
20   白菜    张大妈      6      43
21   萝卜    赵大叔      2      31
22   青椒    张大妈      7      30
23   萝卜    李大妈      7      43
24   萝卜    张大妈      4      44
25   青椒    赵大叔      7      37
26   白菜    赵大叔      7      34
27   萝卜    赵大叔      3      40
28   萝卜    李大妈      5      48
29   萝卜    李大妈      2      41
..  ...    ...    ...     ...
70   青椒    赵大叔      3      48
71   白菜    李大妈      7      47
72   青椒    张大妈      3      34
73   白菜    李大妈      7      32
74   白菜    赵大叔      4      40
75   白菜    赵大叔      4      35
76   青椒    赵大叔      2      40
77   青椒    李大妈      2      30
78   白菜    赵大叔      4      47
79   白菜    赵大叔      6      45
80   青椒    李大妈      3      36
81   白菜    赵大叔      7      37
82   白菜    李大妈      5      36
83   萝卜    张大妈      6      33
84   白菜    赵大叔      4      40
85   青椒    李大妈      5      42
86   青椒    李大妈      5      37
87   青椒    赵大叔      5      45
88   萝卜    张大妈      5      47
89   青椒    张大妈      2      42
90   萝卜    李大妈      3      36
91   萝卜    赵大叔      6      41
92   萝卜    李大妈      6      46
93   白菜    赵大叔      6      33
94   青椒    赵大叔      2      37
95   萝卜    赵大叔      4      33
96   萝卜    李大妈      3      40
97   白菜    李大妈      2      38
98   青椒    李大妈      4      32
99   萝卜    张大妈      7      38

[100 rows x 4 columns]

In [85]:
df.groupby(by = ['item'])['price','weight'].mean()

         price     weight
item
白菜    4.529412  38.970588
萝卜    4.500000  40.966667
青椒    4.027778  37.888889

In [87]:
df.groupby(by = ['sailer','item'])['price'].min()

sailer  item
张大妈     白菜      2
        萝卜      4
        青椒      2
李大妈     白菜      2
        萝卜      2
        青椒      2
赵大叔     白菜      3
        萝卜      2
        青椒      2
Name: price, dtype: int32

In [90]:
df.groupby(by = ['sailer','item'])[['price']].max()

             price
sailer item
张大妈    白菜        6
       萝卜        7
       青椒        7
李大妈    白菜        7
       萝卜        7
       青椒        7
赵大叔    白菜        7
       萝卜        6
       青椒        7

In [92]:
df.groupby(by = ['sailer','item'])[['price']].std()

                price
sailer item
张大妈    白菜    1.361817
       萝卜    1.140175
       青椒    1.675617
李大妈    白菜    1.828782
       萝卜    1.898042
       青椒    1.581139
赵大叔    白菜    1.519109
       萝卜    1.443376
       青椒    2.131770

如果想使用color列索引，计算price1的均值，可以先获取到price1列，然后再调用groupby函数，用参数指定color这一列

使用.groups属性查看各行的分组情况：

============================================

练习23：

   假设菜市场张大妈在卖菜，有以下属性：
   
   菜品(item)：萝卜，白菜，辣椒，冬瓜
   
   颜色(color)：白，青，红
   
   重量(weight)
   
   价格(price)
   
1. 要求以属性作为列索引，新建一个ddd
2. 对ddd进行聚合操作，求出颜色为白色的价格总和
3. 对ddd进行聚合操作，求出萝卜的所有重量(包括白萝卜，胡萝卜，青萝卜）以及平均价格
4. 使用merge合并总重量及平均价格

============================================

## 6.0 高级数据聚合

可以使用pd.merge()函数将聚合操作的计算结果添加到df的每一行  
使用groupby分组后调用加和等函数进行运算，让后最后可以调用add_prefix()，来修改列名

In [95]:
df.groupby(['item'])[['price']].mean()

         price
item
白菜    4.529412
萝卜    4.500000
青椒    4.027778

In [99]:
# display.float_format 保留两位小数
pd.set_option('display.float_format',lambda x:'%0.2f'%(x))

In [101]:
df

   item sailer  price  weight
0    萝卜    赵大叔      4      43
1    青椒    李大妈      3      38
2    青椒    张大妈      5      39
3    萝卜    李大妈      6      45
4    萝卜    李大妈      4      47
5    青椒    李大妈      7      33
6    萝卜    赵大叔      4      34
7    白菜    李大妈      3      42
8    青椒    李大妈      2      45
9    青椒    赵大叔      2      30
10   白菜    李大妈      3      30
11   白菜    张大妈      4      48
12   白菜    张大妈      4      30
13   萝卜    李大妈      4      40
14   白菜    赵大叔      3      41
15   白菜    赵大叔      4      37
16   白菜    赵大叔      4      38
17   白菜    张大妈      3      36
18   白菜    张大妈      6      48
19   白菜    李大妈      6      36
20   白菜    张大妈      6      43
21   萝卜    赵大叔      2      31
22   青椒    张大妈      7      30
23   萝卜    李大妈      7      43
24   萝卜    张大妈      4      44
25   青椒    赵大叔      7      37
26   白菜    赵大叔      7      34
27   萝卜    赵大叔      3      40
28   萝卜    李大妈      5      48
29   萝卜    李大妈      2      41
..  ...    ...    ...     ...
70   青椒    赵大叔      3      48
71   白菜    李大妈      7      47
72   青椒    张大妈      3      34
73   白菜    李大妈      7      32
74   白菜    赵大叔      4      40
75   白菜    赵大叔      4      35
76   青椒    赵大叔      2      40
77   青椒    李大妈      2      30
78   白菜    赵大叔      4      47
79   白菜    赵大叔      6      45
80   青椒    李大妈      3      36
81   白菜    赵大叔      7      37
82   白菜    李大妈      5      36
83   萝卜    张大妈      6      33
84   白菜    赵大叔      4      40
85   青椒    李大妈      5      42
86   青椒    李大妈      5      37
87   青椒    赵大叔      5      45
88   萝卜    张大妈      5      47
89   青椒    张大妈      2      42
90   萝卜    李大妈      3      36
91   萝卜    赵大叔      6      41
92   萝卜    李大妈      6      46
93   白菜    赵大叔      6      33
94   青椒    赵大叔      2      37
95   萝卜    赵大叔      4      33
96   萝卜    李大妈      3      40
97   白菜    李大妈      2      38
98   青椒    李大妈      4      32
99   萝卜    张大妈      7      38

[100 rows x 4 columns]

In [105]:
price_mean = df.groupby(['item'])[['price']].mean()
price_mean.rename(mapper={'price':'price_mean'},axis=1,inplace=True)
price_mean

      price_mean
item
白菜          4.53
萝卜          4.50
青椒          4.03

In [108]:
df2 = pd.merge(df,price_mean,left_on='item',right_index=True).loc[(np.arange(100))]

   item sailer  price  weight  price_mean
0    萝卜    赵大叔      4      43        4.50
1    青椒    李大妈      3      38        4.03
2    青椒    张大妈      5      39        4.03
3    萝卜    李大妈      6      45        4.50
4    萝卜    李大妈      4      47        4.50
5    青椒    李大妈      7      33        4.03
6    萝卜    赵大叔      4      34        4.50
7    白菜    李大妈      3      42        4.53
8    青椒    李大妈      2      45        4.03
9    青椒    赵大叔      2      30        4.03
10   白菜    李大妈      3      30        4.53
11   白菜    张大妈      4      48        4.53
12   白菜    张大妈      4      30        4.53
13   萝卜    李大妈      4      40        4.50
14   白菜    赵大叔      3      41        4.53
15   白菜    赵大叔      4      37        4.53
16   白菜    赵大叔      4      38        4.53
17   白菜    张大妈      3      36        4.53
18   白菜    张大妈      6      48        4.53
19   白菜    李大妈      6      36        4.53
20   白菜    张大妈      6      43        4.53
21   萝卜    赵大叔      2      31        4.50
22   青椒    张大妈      7      30        4.03
23   萝卜    李大妈      7      43        4.50
24   萝卜    张大妈      4      44        4.50
25   青椒    赵大叔      7      37        4.03
26   白菜    赵大叔      7      34        4.53
27   萝卜    赵大叔      3      40        4.50
28   萝卜    李大妈      5      48        4.50
29   萝卜    李大妈      2      41        4.50
..  ...    ...    ...     ...         ...
70   青椒    赵大叔      3      48        4.03
71   白菜    李大妈      7      47        4.53
72   青椒    张大妈      3      34        4.03
73   白菜    李大妈      7      32        4.53
74   白菜    赵大叔      4      40        4.53
75   白菜    赵大叔      4      35        4.53
76   青椒    赵大叔      2      40        4.03
77   青椒    李大妈      2      30        4.03
78   白菜    赵大叔      4      47        4.53
79   白菜    赵大叔      6      45        4.53
80   青椒    李大妈      3      36        4.03
81   白菜    赵大叔      7      37        4.53
82   白菜    李大妈      5      36        4.53
83   萝卜    张大妈      6      33        4.50
84   白菜    赵大叔      4      40        4.53
85   青椒    李大妈      5      42        4.03
86   青椒    李大妈      5      37        4.03
87   青椒    赵大叔      5      45        4.03
88   萝卜    张大妈      5      47        4.50
89   青椒    张大妈      2      42        4.03
90   萝卜    李大妈      3      36        4.50
91   萝卜    赵大叔      6      41        4.50
92   萝卜    李大妈      6      46        4.50
93   白菜    赵大叔      6      33        4.53
94   青椒    赵大叔      2      37        4.03
95   萝卜    赵大叔      4      33        4.50
96   萝卜    李大妈      3      40        4.50
97   白菜    李大妈      2      38        4.53
98   青椒    李大妈      4      32        4.03
99   萝卜    张大妈      7      38        4.50

[100 rows x 5 columns]

### 可以使用transform和apply实现相同功能

在transform或者apply中传入函数即可

In [115]:
# 100条数据
df.groupby(['sailer','item'])['price'].apply(np.mean)

sailer  item
张大妈     白菜     4.36
        萝卜     5.40
        青椒     4.15
李大妈     白菜     4.30
        萝卜     4.54
        青椒     4.00
赵大叔     白菜     4.85
        萝卜     4.08
        青椒     3.90
Name: price, dtype: float64

In [121]:
price_mean = df.groupby(['sailer','item'])[['price']].transform(np.mean).add_suffix('mean_')
price_mean

    pricemean_
0         4.08
1         4.00
2         4.15
3         4.54
4         4.54
5         4.00
6         4.08
7         4.30
8         4.00
9         3.90
10        4.30
11        4.36
12        4.36
13        4.54
14        4.85
15        4.85
16        4.85
17        4.36
18        4.36
19        4.30
20        4.36
21        4.08
22        4.15
23        4.54
24        5.40
25        3.90
26        4.85
27        4.08
28        4.54
29        4.54
..         ...
70        3.90
71        4.30
72        4.15
73        4.30
74        4.85
75        4.85
76        3.90
77        4.00
78        4.85
79        4.85
80        4.00
81        4.85
82        4.30
83        5.40
84        4.85
85        4.00
86        4.00
87        3.90
88        5.40
89        4.15
90        4.54
91        4.08
92        4.54
93        4.85
94        3.90
95        4.08
96        4.54
97        4.30
98        4.00
99        5.40

[100 rows x 1 columns]

In [123]:
pd.merge(df2.drop('price_mean',axis=1),price_mean,left_index=True,right_index=True)

KeyError: "['price_mean'] not found in axis"

### transform()与apply()函数还能传入一个函数或者lambda

`
df = DataFrame({'color':['white','black','white','white','black','black'],
               'status':['up','up','down','down','down','up'],
               'value1':[12.33,14.55,22.34,27.84,23.40,18.33],
               'value2':[11.23,31.80,29.99,31.18,18.25,22.44]})
`

apply的操作对象，也就是传给lambda的参数是整列的数组

============================================

练习24：

   使用transform与apply实现练习23的功能

============================================